@media (min-width:576px){
    .w-sm-100 {
        width: 100% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-25 {
        width: 25% !important;
    }
}

@media (min-width:768px){
    .w-md-100 {
        width: 100% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-25 {
        width: 25% !important;
    }
}

@media (min-width:992px){
    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }
}
@media (min-width:1200px){
    .w-xl-100 {
        width: 100% !important;
    }

    .w-xl-75 {
        width: 75% !important;
    }

    .w-xl-50 {
        width: 50% !important;
    }

    .w-xl-25 {
        width: 25% !important;
    }
}
.full-height {
    height: 100vh;
}
.circle{
    border-radius: 100%
}
.profile-image{
    width: 200px;
    height: 200px;
}
.floating-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.floating-img{
    margin-bottom: -32px;
}
.floating-img-body {
    padding-top: 64px;
}
.br-20{
    border-radius: 20px !important;
}
/*Horizontal lines on links*/
    .hl-li{
        display:inline-block;
        padding:0 7px;
        position:relative;
    }
    .hl-li:not(:last-child)::after{
        content:"";
        border:1px solid #e2e2e2;
        border-width: 1px 1px 0 0;
        position:absolute;
        right:-3px;
        top:0;
        height:100%;
    }

@font-face {
    font-family: "Feeling Passionate";
    src:  url('../fonts/feeling_passionate.otf') format("truetype");
}
.font-feeling-passionate {
    font-family: "Feeling Passionate", Verdana, Tahoma;
}
.blog-title{
    font-family: "Feeling Passionate", Verdana, Tahoma;
    text-align: center;
}

